body{
    padding-top: 15px;
}
.content{
    padding: 10px 0 0 0;
    width: 1130px;
    height: 642px;
    margin: 0 auto;
    background-color: #f8f8f8;
}
.box{
    box-shadow: 1px 1px 4px;
    padding: 10px 10px 0 10px;
    text-align: center;
    background-color: white;
    width: 300px;
    height: 280px;
    float: left;
    margin: 0 15px 20px 15px;

}
.box:hover{
    box-shadow: 1px 1px 8px;
}
li:nth-child(3n+1){
    margin-left: 0;
}
li:nth-child(3n){
    margin-right: 0;
}

.box p{
    padding: 0 10px;
    text-align: justify;
    font-size: 0.95rem;
}
a{
    font-size: 1.3rem;
    color: black;
    text-decoration: none;

}
hr{
    opacity: 0.2;
}
li{
    list-style: none;
    display: block;

}